.header{
  display: flex;
}

img {
  border-radius: 20px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.container {
  margin: 0 auto;
  max-width: 70%;
}

md-input {
  display: block;
}

md-card {
  width: 40%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}