.header{
  display: flex;
}

img {
    border-radius: 20px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.container {
    margin: 0 auto;
    width: 400px;
}

md-input {
    display: block;
}